@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Quicksand:wght@400;500&display=swap");

$primaryColor: #171717;
$secondaryColor: #2c2c2c;
$accentColor: #da0037;
$additionalColor: #ededed;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: $primaryColor;
  color: white;
}

a {
  text-decoration: none;
}

.max-width {
  padding: 0 25px;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: $secondaryColor;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;

      .logo {
        height: 30px;
        margin-right: 10px;

        img {
          height: 100%;
        }
      }
    }

    .right {
      .add-new {
        cursor: pointer;
        background-color: $accentColor;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
        font-size: 17px;

        a {
          color: white;
          margin-bottom: 2px;
        }
      }
    }
  }
}

.search {
  margin-top: 30px;

  &-container {
    background-color: #1c1c24;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #222328;
    display: flex;
    overflow: hidden;

    .input-container {
      display: flex;
      flex-grow: 1;
      align-items: center;

      i {
        font-size: 18px;
        margin-left: 25px;
      }

      input {
        flex-grow: 1;
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
        font-size: 18px;
        margin-left: 16px;
        font-family: "Quicksand", sans-serif;

        &::placeholder {
          font-family: "Quicksand", sans-serif;
        }
      }
    }

    .button-container {
      cursor: pointer;
      background-color: $accentColor;
      width: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;

      &:hover {
        background-color: #da0037a4;
      }
    }
  }
}

.jobs-list {
  background-color: $primaryColor;
  height: 100vh;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 15px 0 15px 25px;
    font-size: 20px;
  }

  .jobs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-bottom: 60px;

    .job-tile {
      background-color: #1c1c24;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      padding: 30px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.03) translateY(-15px);
      }

      .top {
        width: 100%;
        display: flex;
        justify-content: space-between;

        img {
          width: 50px;
          border-radius: 10px;
        }
      }

      .rolename {
        margin: 20px 0px;
        font-size: 22px;
      }

      .description {
        height: 110px;
        overflow: hidden;
        flex-grow: 1;
      }

      .buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        height: 45px;

        .button {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          color: white;
          background-color: #2e2e39;
          font-size: 14px;
        }

        .apply-now {
          margin-right: 15px;
          background-color: $accentColor;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #da0037a4;
          }
        }
      }
    }
  }
}

.new-job {
  margin-top: 30px;

  input,
  textarea {
    display: block;
    font-family: "Quicksand";
    outline: none;
    background-color: transparent;
    color: white;
    border: 2px solid #222328;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 20px;
  }

  textarea {
    height: initial;
    resize: none;
  }

  .new-job-submit {
    cursor: pointer;
    background-color: $accentColor;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    font-family: "Quicksand";
    font-size: 17px;
    padding-bottom: 2px;
  }
}

@media screen and (max-width: 930px) {
  .jobs-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 600px) {
  .jobs-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
